@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: antiquewhite;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
}

#hd {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
}

p{
    padding: 5px;
    text-decoration: underline;
}

li{
    list-style: none;
}

.no-li{
    text-decoration: line-through red;
    
}

